/*div{
	font-size: 20px;
	font-family: initial;
	color: green;
	background-image: url("https://media.istockphoto.com/id/691235862/photo/goods-and-services-tax-india.jpg?s=2048x2048&w=is&k=20&c=TjQXcySGgrTd1SICtYV46sJ1F13ZWPBAOuqJoR1farA=");
}
p{
	color: yellow;
}*/