/*body{
	background-image: url("https://i.pinimg.com/600x315/82/23/82/82238240468f39c07f8bbc0f94b46400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}*/

.d1{
	border-style: dotted;
	border-color: red;
}
.d2{
	text-align: center;
}